

<div class="containermt-4">
    <div class="row">
        <div class="col col-112 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 style="color:brown">View all Courses</h1>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Course Title</th>
                            <th scope="col">Course Description</th>
                            <th scope="col">Course Duration</th>
                            <th scope="col">Course Date</th>
                            <th scope="col">Course Venue</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="">
                            
                            <td></td>
                           
                          </tr>
                        
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
